@import'variables';
@import'header';
@import'portafolio';


footer div a {
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}

@mixin coment-about($fondo, $letra, $estilo){
  background-color: $fondo;
  color: $letra;
  font-style: $estilo;
  
}
#comentarios, #pie {
  @include coment-about(#343a40,#ffffff80 ,italic); }

#about{
  @include coment-about(#343a40,#ffffff80 , bold); 
}


.scrolled{
  background-color: #ffffff;
}


#comentarios{
  h2{
    margin-top: 3rem;
  
  }
  i{
    margin-bottom: 5rem;
  }
}